* {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#calbox {
    height: 430px;
    width: 200px;
    border: 2px solid grey;
    position: relative;
    left: 200px;
    top: 50px;
}

#inputbox {
    height: 8%;
    width: 94%;
    border: 2px solid grey;
    border-radius: 3px;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.button {
    height: 50px;
    width: 50px;
    margin: 5px;
    
}